@charset "UTF-8";
article, aside, footer, header, main, nav, section {
    display: block;
}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 18px;
}

body{
    width: 100%;
    margin-top: -0.1%;
    margin-left: auto;
    margin-right: auto;
    background: #19E68C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
}
section{
    background-color:  #19E68C;
    margin-top: 10px;
    padding: 5px;
}
article{
    background-color:  #19E68C;
    margin-top: 5px;
    padding: 10px 15px;
}
main{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

footer{
    clear:both;
    background-color: #19E68C;
    color: black;
    padding: 5px 20px;
    width: 72%;
}

.nave{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1px;
    height: 85px;
}

.nave .logo{
    cursor: pointer;
    margin-right: auto;
}

.nave .logo img{
    height: 250px;
    width: auto;
    transition: all 0.3s;
}

.nave .logo img:hover{
    transform: scale(1.2);
}

.nave .lista {
    list-style: none;
    margin-right: auto;
    padding-right: 20%;
}

.nave .lista li{
    display: inline-block;
    padding-right: 7px;
    padding-left: 12px; 
    
}

.nave .lista a{
    font-size: 20px;
    color:whitesmoke;
    text-decoration: none;
}

.nave .lista li:hover{
    transform: scale(1.2);
}

.nave .lista li a:hover{
    color: rgb(4, 236, 93);
}

.nave .registro {
    font-size: 20px;
    color:whitesmoke;
    padding-right: 1%;
    text-decoration: none;
    
}

.nave .registro:hover{
    transform: scale(1.2);
    color: rgb(4, 236, 93);
}

.nave .boton button{
    font-size: 20px;
    color: whitesmoke;
    padding: 9px 25px;
    background: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nave .boton button:hover{
    background-color: black;
    color: rgb(4, 236, 93);
    transform: scale(1.1);
}
#boton2 button{
    width: auto;
    margin-top: 5%;
    border-radius: 2%;
    background-color: black;
}
#boton2 button:hover{
    background-color: black;
    color: rgb(4, 236, 93);
    transform: scale(1.1);
}