@charset "UTF-8";
article, aside, footer, header, main, nav, section {
    display: block;
}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 18px;
}
.banner{
    background-image: url(../Imagenes/rv9.jpg);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 28%;
   
    padding: 100px 40px;
    
}
.banner h1{
    color: rgba(19, 52, 201, 0.726);
    
}
body{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(226,229,249,255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
}
section{
    background-color: #dae9fd;
    margin-top: 10px;
    padding: 5px;
}
article{
    background-color: white;
    margin-top: 5px;
    padding: 10px 15px;
}
main{
    width: 75%;
    float: left;
    margin-bottom: 10px;
}
aside{
    background-color: #dae9fd;
    width: 21%;
    float: right;
    padding: 20px;
    margin-top: 10px;
}
footer{
    clear:both;
    background-color: #dae9fd;
    color: black;
    padding: 5px 20px;
    width: 72%;
}

.nave{
    background-color: #dae9fd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1px;
    height: 85px;
}

.nave .logo{
    cursor: pointer;
    margin-right: auto;
}

.nave .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.nave .logo img:hover{
    transform: scale(1.2);
}

.nave .lista {
    list-style: none;
    margin-right: auto;
    padding-right: 40%;
}

.nave .lista li{
    display: inline-block;
    padding-right: 7px;
    padding-left: 12px; 
    
}

.nave .lista a{
    font-size: 20px;
    color:rgb(46, 21, 116);
    text-decoration: none;
}

.nave .lista li:hover{
    transform: scale(1.2);
}

.nave .lista li a:hover{
    color: rgba(135,222,254,255);
}

.nave .registro {
    font-size: 20px;
    color:rgb(46, 21, 116);
    padding-right: 1%;
    
}

.nave .registro:hover{
    transform: scale(1.2);
    color: rgba(135,222,254,255);
}

.nave .boton button{
    font-size: 20px;
    color: rgb(46, 21, 116);
    padding: 9px 25px;
    background: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nave .boton button:hover{
    background-color: whitesmoke;
    color: rgba(135,222,254,255);
    transform: scale(1.1);
}

.sec1{
    height: 500px;
}
.sec1{
    background:url(../Imagenes/quest3.jpg);
    background-position-y: 50%;
    background-position-x:30%;
    background-size: auto;
    background-attachment: fixed;
}

.sec2{
    height: 500px;
}
.sec2{
    background:url(../Imagenes/valveindex.jpg);
    background-position-y: 50%;
    background-position-x:30%;
    background-size: auto;
    background-attachment: fixed;
}

.sec3{
    height: 500px;
}
.sec3{
    background:url(../Imagenes/pico4.jpg);
    background-position-y: 63%;
    background-position-x:30%;
    background-size: auto;
    background-attachment: fixed;
    
}
.sec4{
    height: 500px; 
}
.sec4{
    background:url(../Imagenes/htcfocus3.jpg);
    background-position-y: 130%;
    background-position-x:22%;
    background-size: auto;
    background-attachment: fixed;
    
}


section{
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 5px;
}

.contain{
    width: auto;
    height: 250px;
    background: white;
    text-align: center;
}

.contain p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

